/* ## Business Content Box
--------------------------------------------- */
.business-content-box {
  color: white;
  background-color: $ampro--purple;

  p {
    padding: 10px;
    margin-bottom: 0px;
  }
}

.business-content-box__icon-box {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 15px;

  a{
    color: white;
  }

  i {
    color: white;
    text-decoration: none;
  }
}

.business-content-box__icon {
  font-size: 1.5em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.post-1492 {
  padding-bottom: 0px;
}
