// NCLC Colors
//===================
$nclc--dark-blue: #322d8f;
$nclc--purple: #5b2b7c;
$nclc--pink: #b7004b;
$nclc--teal: #1e9cb0;
$nclc--yellow: #fdca2f;

// NCLC Fonts
//===================
$nclc-header--font-family: sofia-pro, sans-serif;
$nclc-body--font-family: proxima-nova, sans-serif;
$nclc-h1--size: 75px;
$nclc-h1--weight: 900;
$nclc-h1--line-height: 1em;
$nclc-h2--size: 40px;
$nclc-h2--weight: 600;
$nclc-h2--line-height: 1.2em;
$nclc-body--size: 20px;
$nclc-body--weight: 400;
$nclc-body--line-height: 1.3em;