/* ## Front Page Donate Section
--------------------------------------------- */
.donate__container{
}

.donate__image{
	vertical-align:bottom;
	opacity: .5;
	float: right;
}

.donate_image__container{
	background-color: $ampro--blue;

	@media only screen and (max-width: 851px) {
		display: none;
	}
}

.donate-flex-half{
	display: flex;
	align-items: center;
  	justify-content: center;
	text-align: center;
	height: 100%;
	background-color: $ampro--blue;
	color: white;

	h1:after{
		content: " ";
		display: block;
		border: 2px solid #d0d0d0;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		width: 25%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
}

.donate__flex-grid {
  display: flex;
}
.donate-col {
  flex: 1;
}

#donate-button{
	@media only screen and (max-width: 851px) {
		margin-bottom: 40px;
	}
	background-color: $ampro--yellow;
	color: $ampro--blue;
}

#donate-button:hover{
	opacity: .75;
}
