/* ## Join List Section
--------------------------------------------- */
.front-join__background{
		background-color: $ampro--purple;
		padding-top: 40px;
		padding-bottom: 40px;
}

#front-join__icon{
	color: #fff;
	font-size: 4.5em;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.front-join__container{
	text-align: center;
	color: white;

	h1{
		font-size: 5rem;
	}
}
